<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
  <eventbriteAppKey></eventbriteAppKey>
  <locatorUrl></locatorUrl>  
  <mapUrl></mapUrl>
  <eventQueryUrl>php/getEvents.php</eventQueryUrl>
  <locatorOutFields></locatorOutFields>
  <wkid></wkid>
  <lonMin></lonMin>
  <latMin></latMin>
  <lonMax></lonMax>
  <latMax></latMax>
</config>
